# Test report

Test date: 2022-10-18   
Performed by: Ellinor Henriksson

| Test | Result | Comment |
| ---- | ------ | ------- |
| TC1.1 | PASS | |
| TC2.1 | PASS | |
| TC2.2 | PASS | |
| TC3.1 | PASS | |
| TC4.1 | PASS | |
| TC4.2 | PASS | |
| TC4.3 | PASS | |
| TC5.1 | PASS | |
| TC5.2 | PASS | |
| TC5.3 | PASS | |
| TC5.4 | PASS | |
| TC6.1 | PASS | |